@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* common css */
*{
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
}
.btn-primary{
    background: rgb(255, 144, 14);
    padding: 20px 25px;
    font-size: 1.25rem;
    border-radius: 8px;
    color: #fff;
    cursor:pointer;
    border: none;

}  
   .gray-color{
    color:  rgb(114, 114, 114);
}
.section-title{
    color: rgb(19, 19, 19);
    font-size: 2.6rem 
}
 /* header style start  */
 header{
    background: rgba(255, 144, 14, 0.1);
 } 

 nav{
    max-width: 1440px;
    margin: 0 auto;
     display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 64px;
   padding-bottom: 80px;
}
nav > ul{
    display: flex;
    list-style: none;
    gap: 32px;
}
nav a{
    text-decoration: none;
    color: rgb(66, 66, 66);
    font-size: 18px;
    font-weight: 500;
}
 /* main{
    max-width: 1440px;
    margin: 0 auto;
    justify-content: center; 
 } */
 /* banner style  */
 .banner{
    text-align: center;
    padding-bottom: 30px;
 }


.banner-content{
    max-width: 850px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
}
.banner-title{
    color: rgb(19, 19, 19);
    font-size: 64px;
    font-weight: 700;

}
.banner-description{
    color: rgb(114, 114, 114);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 35px;

}
main{
    max-width: 1440px;
    margin: 0 auto;
}
/* team section style start  */

  .team-container{
    max-width: 1320px;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
    gap: 72px;
  }
  .img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }
  .team-container img{
    border-radius: 9px;
  }
  .team-title{
      color: rgb(114, 114, 114);
      font-size: 45px;
      font-weight: 500;
  }
/* team section style end  */







/* fact style start  */
  .facts-container{
   
  }
.fact-card-container{ 
    max-width: 1340px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* display: grid;
    grid-template-columns: repeat(4, 1fr); */
    
}
.card{
  border-radius:8px ;
  border: 1px solid #ff900e;
  text-align: center;
  padding:50px ;
}
.card-state{
    padding: 8px;
    font-size: 2.8rem;
    font-weight: ;
    color: #424242;
}
.card-title{
    font-weight: 600;
    font-size: 1.25rem;
}
/* fact style end */
  /* sponsor sectin style  */
  .logos{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    margin-bottom: 80px;
    margin-top: 40px;
  } 
   footer{
       max-width: 1440px;
       height: 100px;
       background: rgba(255, 144, 14, 0.1);
       margin: 0 auto;
       display: flex;
       justify-content: center;
       align-items: center;
       margin-bottom: 100px;

    }
   footer p{
       color: rgb(66, 66, 66);
       font-size: 20px;
       font-weight: 400;
       

   }

/* responsive design */

/* mobile device  */
@media screen and (max-width:576px) {
    nav{

        flex-direction: column;
        padding: 40px;
    }
 
    nav ul{
        margin-top: 20px;
    }
    .section-title{
        font-size:1.8rem ;
    }
    .banner-content{
        padding: 20px;
    }
    .banner-title{
        font-size: 2.3rem;
    }

.banner img{
        width: 90%;
        /* margin: 20px; */
    }
    .team-container{
        flex-direction: column-reverse;
    }
    .img-container{
        grid-template-columns: repeat(1,1fr);
    }
    .team-text-container{
        padding: 20px;
    }
    .facts-container{
    margin: 18px;
    }
    .fact-card-container{
       display: grid;
       grid-template-columns: repeat(2,1fr);
       gap: 10px;
       
    }
 
.card{
    padding:20px ;
  }
  .card-state{
      padding: 5px;
      font-size: 2rem;
  }
  .card-title{
      font-weight: 500;
      font-size: 1rem;
  }
  
  .logos{
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .sponsor-section,footer{
    margin: 20px;
    text-align: center;
  }
}

/* medium device or tablet  */

 @media screen and (min-width:577px) and (max-width:960px) {
    nav{
        flex-direction: column;
        padding: 40px;
    }
    nav ul{
        margin-top: 20px;
    }
    .section-title{
        font-size:2.2rem ;
    }
    .banner-content{
        padding: 25px;
    }
    .banner-title{
        font-size: 2.8rem;
    }

.banner img{
        width: 90%;
       /* margin: 20px; */
    }
    .team-container{
        flex-direction: column-reverse;
    }
    .team-text-container{
        padding: 20px;
    }

    .facts-container{
        margin: 25px;
        }
        .fact-card-container{
           display: grid;
           grid-template-columns: repeat(2,1fr);
           gap: 15px;
           
        }
         
        .logos{
            flex-direction: column;
            align-items: center;
            gap: 20px;
          }
          .sponsor-section,footer{
            margin: 20px;
            text-align: center;
          }
  
   
} 